{#
/**
 * Pic Puller plugin for Craft CMS 3.x
 *
 *  Field Input
 *
 * @author    John F Morton
 * @copyright Copyright (c) 2017 John F Morton
 * @link      https://picpuller.com
 * @package   PicPuller
 * @since     3.0.0
 */
#}
{% do view.registerAssetBundle("jmx2\\picpuller\\assetbundles\\field\\FieldAsset") %}
{% set magnifyingGlassUrl = view.getAssetManager().getPublishedUrl('@jmx2/picpuller/assetbundles/field/dist', true) ~ '/img/magnifying_glass_icon.svg' %}
{% set ppImageBrowserIconUrl = view.getAssetManager().getPublishedUrl('@jmx2/picpuller/assetbundles/field/dist', true) ~ '/img/pp-icon.png' %}

{#
 Using {{ name }} in the ids below helps find the field in the JS file.
#}

<div class='igpp preview' id="{{ name }}-preview"></div>
<input class='igpp text halfwidth' type="text" id="{{ name }}-input"
       name="{{ name }}" value='{{ value }}'>
<div class="igpp lookup hidden" id="{{ name }}-lookup"><img
            src='{{ magnifyingGlassUrl }}' alt="Magnifying Glass"></div>
<a class="igpp delete icon" title='Remove' id="{{ name }}-delete"></a>
<div class="btn add icon dashed" data-ppbrowsertype='0' id="{{ name }}-btn">
    Browse Instagram
</div>