{#
/**
 * Pic Puller plugin for Craft CMS
 *
 * LatestImage Widget Body
 *
 * @author    John F Morton
 * @copyright Copyright (c) 2017 John F Morton
 * @link      https://picpuller.com
 * @package   PicPuller
 * @since     3.0.0
 */
#}

{% set ppname = craft.picPuller.customName %}

{% for instagramdata in craft.picPuller.user({'use_stale_cache' : false, 'user_id' : 1 }) %}
    <p>Status: {{ instagramdata.status ? 'All good.' : 'Not good.' }}<br>
        HTPP Code: <code>{{ instagramdata.code }}</code>
    </p>

    {% if instagramdata.status == TRUE %}
        <p>{{ instagramdata.cacheddata ? 'You’re using cached data.' : 'You\'re not using cached data.' }}</p>

        <p><img src="{{ instagramdata.profile_picture }}"
                alt='{{ instagramdata.full_name }}'></p>
        <p>Username: {{ instagramdata.username }}<br>
            Full name: {{ instagramdata.full_name }}<br>
            Media count: {{ instagramdata.counts_media }}<br>
            Followers count: {{ instagramdata.counts_followed_by }}</p>
    {% else %}
        <p>Error Type: {{ instagramdata.error_type }}</p>
        <p>Error Message: {{ instagramdata.error_message }}</p>
        <p>Check the <a
                    href="{{ craft.picPuller.getPicPullerBaseUrl() }}">{{ ppname }}
                authorization page</a> for more details.</p>
    {% endif %}
{% endfor %}
