{#
/**
 * Pic Puller plugin for Craft CMS
 *
 * LatestImage Widget Body
 *
 * @author    John F Morton
 * @copyright Copyright (c) 2017 John F Morton
 * @link      https://picpuller.com
 * @package   PicPuller
 * @since     3.0.0
 */
#}
{% for instagramdata in craft.picPuller.user({'use_stale_cache' : false, 'user_id' : 1 }) %}
  <p>Status: {{ instagramdata.status ? 'All good.' : 'Not good.' }}</p>
  
  {% if instagramdata.status == TRUE %}
    <p>{{ instagramdata.cacheddata ? 'You’re using cached data.' : 'You\'re not using cached data' }}</p>
    <p>username: {{ instagramdata.username }}</p>
    <p>full_name: {{ instagramdata.full_name }}</p>
    <p>profile_picture:</p>
    <p><img src="{{ instagramdata.profile_picture }}" alt='{{ instagramdata.full_name }}'></p>
    <p>counts_media: {{ instagramdata.counts_media }}</p>
    <p>counts_followed_by: {{ instagramdata.counts_followed_by }}</p>
  {% else %}
    <p>Error Type: {{ instagramdata.error_type }}</p>
    <p>Error Message: {{ instagramdata.error_message }}</p>
  {% endif %}
{% endfor %}
